

<div class="columns mt-6 is-centered">
<% if @customers.any? %>
    <% if current_store.admin? %>
        <% @stores.each do |store| %>
            <%= store.name %>
            <%= store.created_at %>
        <% end %>
    <% else %>
    <div class="column is-four-fifths">
        <h3 class="is-size-4 mb-6 has-text-centered mt-4">
            Customer count for <%= current_store.name %>: 
            <span class="has-text-weight-bold"><%= @customers.count %></span>
        </h3>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th><i class="far fa-user-circle"></i> Name</th>
                    <th><i class="far fa-envelope"></i> Email Address</th>
                    <th><i class="fas fa-mobile-alt"></i> Mobile Number</th>
                    <th><i class="far fa-clock"></i> Time Logged</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @customers.each do |customer| %>
                <tr>
                    <td><%= customer.name %></td>
                    <td><%= customer.email_address %></td>
                    <td><%= customer.mobile_number %></td>
                    <td><%= time_ago_in_words(customer.created_at) %> ago</td>
                    <td>
                        <%= link_to 'Show', customer_path(current_store.slug, customer) %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        
    </div>
    <% end %>
<% else %>
    <div class="column is-half">
        <p class="is-size-4 mb-4 has-text-centered mt-4">
            No customers have logged.
            <%= link_to "Trace Customers Now", new_customer_path(current_store.slug), class:'button is-link' %>
        </p>
    </div>
<% end %>
</div>