<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
        <div class="message is-danger">
            <div class="message-header">
                <p><%= pluralize(customer.errors.count, "error") %> prohibited this data from being saved:</p>
            </div>
            <div class="message-body">
                <ul>
                    <% customer.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :email_address, class: "label" %>
    <%= form.text_field :email_address, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :mobile_number, class: "label" %>
    <%= form.text_field :mobile_number, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
